@import "../../styles/vars";

.container {
    position: fixed;
    width: 100%;
    background-color: $primary;
    color: $color;
    display: flex;
    padding: .5rem .3rem;
}

.item {
    margin-left: $length-3;
    font-size: $font-size-lg;
    padding: .2rem $length-3;
    color: $color;
    border-radius: 50rem;
    cursor: pointer;
    user-select: none;
    transition: 200ms linear;
    &:hover {
        transition: 200ms linear;
        color: #f7ffcc;
        background-color: rgba($color1,0.1);
    }
}

.active{
    background-color: rgba($color1,0.2);
}

.headerlogin{
    @extend .btn;
    position: absolute;
    font-size: $font-size-sm;
    padding: .1rem .2rem;
    float: right;
    right: 1rem;
}