
@import "../../styles/vars";

.container{
    height: 100vh;
    box-sizing: border-box;
    padding-top: 2.9rem;
    display: flex;
    flex-direction: column;
    .main{
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 0 1rem;
        @media screen {
            @media (min-width:1200px) {
                width: 80%;
                margin: 0 auto;
            }
            @media (min-width:768px) and(max-width:1200px) {
                width: 100%;
            }
            @media (max-width:768px) {
                width: 100%;
            }
        }
        .item{
            width: 120px;
            margin-top: 1rem;
            height: 160px;
            box-sizing: border-box;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #636363;
            font-weight: 900;
            user-select: none;
            cursor: pointer;
            transition: 200ms;
            box-shadow: 0 2px 4px #ccc, 0 1px 8px #e6e6e6;
            &:hover {
                transition: 200ms;
                transform: perspective(500px) translateY(-2px) rotateX(-4deg);
                box-shadow: 0 1px 8px #ccc, 0 -5px 8px #fcf9f9 inset;
            }
        }
    }
    .botBox{
        height: 1rem;
        background-color: #09f;
        padding: .5rem;
        color: #fff;
        text-align: center;
    }
}

.fileItem{
    position: relative;
    cursor: pointer;
    padding: $length-1;
    float: left;
    overflow: hidden;
    width: 10rem;
    box-shadow: 0 0 $length-1 $color3;
    margin: {
        left:$length-5;
        top: $length-5;
    }
        transition: 100ms;
        height: 12rem;
    &:hover{
        transition: 100ms;
        box-shadow: 0 0 $length-1 $color4;
        transform: translateY(-1px);
    }
    display: flex;
    flex-direction: column;
    .itemTitle{
        display: flex;
        align-items: center;
        .titleicon{
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: $length-1;
            background-color: rgb(134, 181, 238);
        }
    }
    .itemFileName{
          text-align: right;
          font-size: $font-size-sm;
          color: $color6;  
    }
    .timeBox{
        font-size: $font-size-sm;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $color6;  
    }
    .itemBot{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: $color;
        background-color: $primary;
        padding: $length-1 0;
        div{
            text-align: center;
        }
        div:first-child{
            font-size: $font-size-sm;
        }
    }
}