@import "../../styles/vars";
.container {
    display: flex;
    @media screen {
        @media (min-width:1200px) {
            width: 90%;
            margin: $length-1 auto 0 auto;
        }

        @media (min-width:768px) and(max-width:1200px) {
            width: 100%;
        }

        @media (max-width:768px) {
            flex-direction: column;
            width: 100%;
        }
    }
    .letf {
        display: flex;
        box-shadow: 0 0 $length-1 $color3;
        @media screen {
            @media (min-width:1200px) {
                flex-direction: column;
                align-items: center;
                width: 240px;
            }

            @media (min-width:768px) and(max-width:1200px) {
                flex-direction: column;
                align-items: center;
                width: 20%;
            }

            @media (max-width:768px) {
                justify-content: space-evenly;
                width: 100%;
            }
        }
    }

    .right {
        @media screen and(min-width:768px) {
            margin-left: $length-2;
        }
        flex-grow: 1;
        box-shadow: 0 0 $length-2 $color3;
    }
}
.all{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    @extend %container_with_menu;
}
.strenth{
    flex-grow: 1;
}
.footerbox{
    width: 100%;
    color:$color1;
    padding: $length-1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $primary;
}